.ivu-menu-vertical .ivu-menu-submenu-title-icon
  float: left
  transform: rotate(-90deg)
.ivu-menu-opened>*>.ivu-menu-submenu-title-icon
  transform: rotate(0deg)

.sider-group 
  .name
    width 96px
    display inline-block
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    vertical-align middle
  .label
    font-size 0
  li
    .member-wrap
      padding 0 44px
    li
      .member-wrap
        padding 0 88px

.ivu-menu-vertical .ivu-menu-submenu-title
  padding 14px 12px

.ivu-menu-submenu .ivu-menu-submenu-title
  padding-left 0 !important

.ivu-menu-vertical.ivu-menu-light:after
  width 0